@model DavidPortal.Models.HospitalListView
@{
    ViewBag.Title = "医院列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var model in Model.Hospitals)
{
    @Html.Partial("HospitalSummary", model)
}
<div class="panel panel-default">
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",
        new { page = x }))
    </div>
    <div class="panel-footer">
        @Html.ActionLink("添加医院", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>