@model DavidPortal.Models.DeviceListView
@{
    ViewBag.Title = "设备列表";
}

@foreach (var p in Model.Devices)
{
    @Html.Partial("DeviceSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, model = Model.CurrentModel }))
</div>

